name: ${NAME}
host: 0.0.0.0
port: 7788
players: ${PLAYERS}
announce: ${ANNOUNCE}
gamemode: OpenRP
website: ${WEBSITE}
language: ${LANGUAGE}
description: ${DESCRIPTION}
modules: [ node-module ]
resources: [ orp ]
token: ${TOKEN}
debug: ${DEBUG}
